@model IEnumerable<StoreViewModel>
@using PruebaTecnica_WebMaster.Models.ImplementRepositoryPattern

<div class="panel panel-primary">
    <div class="panel-heading panel-head">
        <h1> Stores </h1>
    </div>
    <div class="panel-body">
        <div class="btn-group">
            <a asp-action="CreateStore" class="btn btn-primary">
                <i class='bx bxs-store-alt'></i>
                Add Store
            </a>
        </div>
        <div class="top-buffer"></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Adress</th>
                    <th>Phone</th>
                    <th>Coordinates</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Address)</td>
                        <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                        <td>@Html.DisplayFor(modelItem => item.Coordinates)</td>
                        <td>
                            <a asp-action="EditStore" asp-route-id="@item.Id" class="btn btn-info">
                                <i class='bx bx-pencil'></i>
                                Edit Store
                            </a>
                            <form asp-action="DeleteStore" asp-route-id="@item.Id" method="post" class="d-inline">
                                <button type="submit" class="btn btn-danger">
                                    Delete Store
                                </button>
                            </form>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
<br>
